
.toolTipHtml{
	text-align: center;
}

.toolTipHeader{
	color: #f1c40f;
	font-size: 0.9em;

}

.toolTipData{
	font-size: 0.9em;
}

.arm_movement{
	transform-origin: 0% 0%;
}

.textMicroData{
	font-size: 8px;
}

.textMicroDataResult{
	font-size: 20px;
}

.textMicroDataText{
	font-size: 12px;
	fill: #4f4f4f;
}

.textPieData{
	font-size: 1.2em;
}
/*
.dashboard{
	max-width: 768px;
	min-width: 480px;
}*/