.dashboard{
	height: 100%;
	width: 100%;
	background-color: #e1e1e1;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flext-start;
	align-item: flext-start;
	align-content: stretch;
}

.sideBar{
	background-color: #4f4f4f;
	width: 150px;
	text-align: center;
}

.mainContainer{
	background-color: green;
	width: 100%;
	height: 100%;
}

.topBar{
	background-color: #ffffff;
	border-bottom: 2px solid #afafaf;
	width: 100%;
	height: 50px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-item: center;
	align-content: center;
}

.topBarTitle{
	padding : 10px 20px; 
	font-size : 1.2em;
}

.topBarLogout{
	font-size: 1em;
	cursor: pointer;
	width: 80px;
	text-align: center;
	padding-top: 6px;
	margin: 5px;
	background-color: transparent;
	color: #a1a1a1;
	border-radius: 20px;
	border: 1px solid #a1a1a1;
}

.topBarLogout:hover{
	background-color: #f39c12;
	color: white;
	border: 0px;
	transition: background-color 300ms ease-out;
}

.subViewDiv{
	overflow-y: auto;
	background-color: white;
	width: 100%;
	height: calc(100% - 50px);
	background-color: #efefef;
	font-weight: 100;
}

.appName{
	line-height: 17px;
	background-color: #2980b9;
	padding: 5px 5px;
	padding-top: 7px;
	padding-bottom: 3px;
	border-bottom: 2px solid #8f8f8f;
}

.appNameMain{
	text-align: center;
	color: white;
	font-size: 1.5em;
}

.appNameSub{
	text-align: center;
	color: #e1e1e1;
	font-size: 0.8em;
}

.profileImg{
	height: 100px;
	width: 100px;
	border-radius: 50%;
}

.profileName{
	color: #ffffff;
	font-size: 0.8em;
	padding: 5px;
	margin: 5px;
}

.profileDiv{
	border-bottom: 2px solid #8f8f8f;
}

.profileSettingsButton{
	background-color: transparent;
	color: #f39c12;
	border-radius: 20px;
	border: 1px solid #f39c12;
	width: 100px;
	padding: 10px 10px;
	text-align: center;
	font-size: 0.8em;
}

.profileSettingsButton:hover{
	background-color: #f39c12;
	color: white;
}

.menuOptions{
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

.optionDiv{
	background-color: transparent;
	padding-top: 10px;
}

.optionDiv:hover{
	cursor: pointer;
	background-color: rgba(0,0,0,0.2);
	transition: background-color 300ms ease-out;
}
}

.menuIcons{
	width: 30px;
	height: 30px;
}

.optionActive{
	background-color: rgba(0,0,0,0.4);
}

.optionTitle{
	color: white;
	margin: 10px;
	font-size: 1.0em;
}

.dataDropDown{
	text-align: center;
	margin-bottom: 10px;
}
.dataDropDownButton{
	width: 50%;
	max-width: 250px;
	padding: 10px;
	color: blue;
	border: 1px solid blue;
	background-color: transparent;
	text-align: center;
	border-radius: 20px;
	margin: 0 auto;
	cursor: pointer;
}

.dataDropDownButton:hover{
	background-color: blue;
	color: white;
	transition: background-color 300ms ease-out;
}

.dataDropDownContentWrapper{
	position: relative;
	display: block;
	width: 50%;
	max-width: 250px;
	margin: 0 auto;
	margin-top: 10px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	max-height: 150px;
	overflow-y:auto;
}

.dataDropDownContent{
	text-align: center;
	width: 100%;
	margin: 0 auto;
	cursor: pointer;
	padding: 10px;
	background-color: white;
	display: block;
}

.dataDropDownContent:hover{
	background-color: #dfdfdf;
	color: black;
	transition: background-color 300ms ease-out;
}