.overviewSubView{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flext-start;
	align-item: flext-start;
	align-content: stretch;
}

.overviewDataHeader{
	background-color: #c1c1c1;
	padding: 10px;
	border-radius: 5px;
}

.overviewMacroDataWrapper{
	margin: 10px;
}

.overviewOverallDataWrapper, 
.overviewMacroGeneralWrapper, 
.overviewMacroObjectiveWrapper{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: center;
	align-item: center;
}

.overviewOverallData{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: center;
	align-item: center;
	width: 25%;
	margin: 10px;
	background-color: #e1e1e1;
	text-align: center;
}

.overviewOverviewImgWrapper{
	opacity: 0.7;
}
.overviewOverviewImgTotalWrapper	{background-color: #16a085;} /*Green*/
.overviewOverviewImgAccuracyWrapper	{background-color: #2980b9;} /*Blue*/
.overviewOverviewImgProgressWrapper	{background-color: #8e44ad;} /*Purpule*/
.overviewOverviewImgGroupsWrapper	{background-color: #e67e22;} /*Orange*/

.overviewOverallDataTotalValue		{color: #16a085; font-weight: bold;} /*Green*/
.overviewOverallDataRecoveryValue	{color: #2980b9; font-weight: bold;} /*Blue*/
.overviewOverallDataProgressValue	{color: #8e44ad; font-weight: bold;} /*Purpule*/
.overviewOverallDataGroupsValue		{color: #e67e22; font-weight: bold;} /*Orange*/

.overviewOverviewImgWrapper, .overviewOverallDataDiv{
	width: 100%;
}

.overviewOverallDataDiv{
	padding: 10px;
}

.overviewOverallImg{
 	padding: 10px;
 	min-width: 100px;
 	min-height: 100px;
  	max-width: 100px;
 	max-height: 100px;
}

.overviewOverallDataValue{
	font-size: 1.6em;
}

.overviewMacroText{
	background-color: #e1e1e1;
	padding: 10px;
	margin: 0px;
	margin-bottom: 10px; 
}

.overviewMacroGeneralElementWrapper{
	width: 33.33%;
	margin: 5px;
}

.overviewMacroObjectiveElementWrapper{
	width: 50%;
	margin: 5px;
}

@media only screen and (max-width: 1300px){
	.overviewOverallData, 
	.overviewMacroGeneralWrapper, 
	.overviewMacroObjectiveWrapper{
	 	flex-direction: column;
	}	

	.overviewOverallImg{
	 	min-width  : 50px;
	 	min-height : 50px;
	  	max-width  : 50px;
	 	max-height : 50px;
	}

	.overviewMacroGeneralElementWrapper,
	.overviewMacroObjectiveElementWrapper{
		width: 100%;
	}


}