.settingsWrapper{
	margin: 10px;
}

.settingsDataHeader{
	background-color: #c1c1c1;
	padding: 10px;
	border-radius: 5px;
}

.profileSettings{
	display: flex;
	flex-direction: row;
}

.profileSettingsImg{
	border-radius: 50%;
	max-width: 180px;
	max-height: 180px;
}

.profileSettingsImgWrapper{
	text-align: center;
}

.profileInformationWrapper{
	background-color: #e1e1e1;
	margin: 10px;
	width: 33.33%;
}
.profileSettingsDivWrapperLeft{
	width: 25%;
}

.profileSettingsDivRight{
	width: 75%;
}

.profileInformationDivWrapper{
	display: flex;
	flex-direction: row;
}

.profileSettingsParticularElement{
	margin: 5px;
	padding: 5px;
	color: #8f8f8f;
	font-size: 0.8em;
}

.profileSettingsParticularValue{
	color: black;
	font-size: 1.2em;
}

/*
.profileSettingsParticularValue:focus{
	color: white !important;
	background-color: #f39c12 !important;
	transition: background-color 300ms ease-out;
}
*/

.profileSettingsSaveBtnWrapper{
	text-align: center;
	margin: auto;
}

.profileSettingsSaveBtn{
	color: #f39c12;
	width: 100px;
	padding: 10px 20px;
	text-align: center;
	border-radius: 20px;
	border: 1px solid #f39c12;
	margin: 0 auto;
	margin-bottom: 20px;
	cursor: pointer;
}

.profileSettingsSaveBtn:hover{
	background-color: #f39c12;
	color: #ffffff;
	transition: background-color 300ms ease-out;
}

.settingsPatients{
	width: 100%;
}

.settingsPatientResultCount{
	background-color: transparent;
	text-align: center;
	color: #8f8f8f;
}

.settingsPatientsListWrapper{
	width: 100%;
	background-color: white;
	margin: 10px;
	padding: 10px;
	margin-left: 0px;
	/*overflow-y:auto;*/
}

.settingsPListImgDiv{
	padding: 10px;
	text-align: center;
}

.settingsPatientsListImg{
	width: 75px;
	height: 75px;
	border-radius: 50%;
}

.settingsPatientsListName{
	font-size: 1.2em;
}

.settingsPatientsListGroup{
	color: #8f8f8f;
}

.settingsProgressValue{
	color: #2980b9;
	font-weight: bold;
	font-size: 2em;
}

.settingsPatientsListDetail,
.settingsPatientProgressInformation,
.settingsPatientsTotalSessionsWrapper{
	font-size: 0.8em;
}
.settingListDetialHeader{
	font-size: 1.5em;
}

.settingsPatientRecoveryTag{
	font-weight: normal;
}

.settingsPatientsTotalSessionsWrapper{
	border-top: 1px solid #cfcfcf;
	padding-top: 20px;
}

.updateMessages{
	min-height: 40px;
}

.successfulUpdate{
	color: #16a085;
}

.unsuccessfulUpdate{
	color: #c0392b;
}

@media only screen and (max-width: 1020px){
	.profileSettings, .profileInformationDivWrapper{
		flex-direction: column;
	}

	.profileSettingsDivWrapper{
		width: 100%;
	}

	.profileInformationWrapper{
		width: calc(100% - 20px);
	}
}