<div class = "loginContainer">
	<div class = "loginHeaderDiv">
		<h1 class = "loginHeader">GEAR analytics</h1>
		<h5 class = "loginHeader">Doctor's dashboard for Game Assisted Rehabiliation</h5>
	</div>

	<form class = "loginForm">
		<label><div class = "labelDiv"> Username</div>
			<input class = "formInput" type="text" placeholder="user@client.com" ng-model="username"/>
		</label>

		<label><div class = "labelDiv"> Password</div>
			<input class = "formInput" type="password" placeholder="user123" ng-model="password"/>
		</label>

		<div class = "errorMsgDiv" ng-show = "loginErrorMsg.length > 0">
			{{loginErrorMsg}}
		</div>

		<br/>
		<a ng-click="login(username, password)" class="button success loginButton">Enter</a>
	</form>
</div>