<div class = "dashboard">
	<div class = "sideBar">
		<p class = "appName">
			<span class = "appNameMain">GEAR</span><br>
			<span class = "appNameSub">Analytics</span>
		</p>
		<div class = "profileDiv">
			<img class = "profileImg" ng-src="{{proifleImg}}" alt="profile Img">
			<p class = "profileName">
				Dr. {{profileName}}
			</p>
			<button class = "profileSettingsButton" ng-click="selectMenu('settings')">SETTINGS</button>
		</div>
		<div class = "menuOptions">
			<div class = "optionDiv optionActive" ng-click="selectMenu('overview')">
				<img class="menuIcons" id="overviewIcon" src="img/mainIcon.png"/>
				<p class = "optionTitle">Overview</p>
			</div>
			<div class = "optionDiv" ng-click="selectMenu('patients')">
				<img class="menuIcons" id="patientsIcon" src="img/patientsIcon.png"/>
				<p class = "optionTitle">Patients</p>
			</div>
		</div>
	</div>

	<div class = "mainContainer">
		<div class = "topBar">
			<div class = "topBarTitle">
				OVERVIEW
			</div>
			<div class = "topBarLogout" ng-click="logout()">Logout</div>
		</div>

		<div class = "subViewDiv overviewSubView">
			<div class = "overviewMacroDataWrapper">
				<div class = "overviewMacroData">
					<div class = "overviewDataHeader">Overall</div><br>
					<div class = "overviewOverallDataWrapper">
						
						<div class = "overviewOverallData">
							<div class = "overviewOverviewImgTotalWrapper overviewOverviewImgWrapper">
								<img class="overviewOverallImg" src = "img/totalPatients.png"/>
							</div>
							<div class = "overviewOverallDataTotalDiv overviewOverallDataDiv">
								<div class = "overviewOverallDataValue overviewOverallDataTotalValue">{{totalPatients}}</div>
								<div class = "overviewOverallDataTotalDescription">Total<br>Patients</div>
							</div>
						</div>
						<div class = "overviewOverallData">
							<div class = "overviewOverviewImgAccuracyWrapper overviewOverviewImgWrapper">
								<img class="overviewOverallImg" src = "img/averageAccuracy.png"/>
							</div>
							<div class = "overviewOverallDataAccuracyDiv overviewOverallDataDiv">
								<div class = "overviewOverallDataValue overviewOverallDataRecoveryValue">{{avgAccuracy}}%</div>
								<div class = "overviewOverallDataAccuracyDescription">Average<br>Accuracy</div>
							</div>
						</div>
						<div class = "overviewOverallData">
							<div class = "overviewOverviewImgProgressWrapper overviewOverviewImgWrapper">
								<img class="overviewOverallImg" src = "img/averageProgress.png"/>
							</div>
							<div class = "overviewOverallDataRecoveryDiv overviewOverallDataDiv">
								<div class = "overviewOverallDataValue overviewOverallDataProgressValue">{{avgProgress}}%</div>
								<div class = "overviewOverallDataRecoveryDescription">Average<br>Progress</div>
							</div>
						</div>
						<div class = "overviewOverallData">
							<div class = "overviewOverviewImgGroupsWrapper overviewOverviewImgWrapper">
								<img class="overviewOverallImg" src = "img/totalGroups.png"/>
							</div>
							<div class = "overviewOverallDataGroupsDiv overviewOverallDataDiv">
								<div class = "overviewOverallDataValue overviewOverallDataGroupsValue">{{totalGroups}}</div>
								<div class = "overviewOverallDataGroupsDescription">Injury<br>Groups</div>
							</div>
						</div>
					</div>
					<br>
				</div>
				<div class = "overviewMacroData">
					<div class = "overviewDataHeader">Summary</div><br>
					<div class = "dataDropDown">
						<button class = "dataDropDownButton" ng-click="showGroups = !showGroups">
							{{groupName}}
						</button>
						<div class = "dataDropDownContentWrapper" ng-if="showGroups == 1">
							<div class = "dataDropDownContent" ng-repeat = "group in groups" ng-click="viewGroupData(group.injuryId, group.injuryName)">{{group.injuryName}}</div>
						</div>
					</div>
					<div class = "overviewMacroGeneralWrapper">
						<div class = "overviewMacroGeneralElementWrapper">
							<div class = "overviewMacroText">Gender Breakdown</div>
							<div class = "overviewMacroGeneralGender"></div>
						</div>
						<div class = "overviewMacroGeneralElementWrapper">
							<div class = "overviewMacroText">Age breakdown</div>
							<div class = "overviewMacroGeneralAge"></div>
						</div>
						<div class = "overviewMacroGeneralElementWrapper">
							<div class = "overviewMacroText">Overall User feedback</div>
							<div class = "overviewMacroGeneralSubjective"></div>
						</div>
					</div>
					<div class = "overviewMacroObjectiveWrapper">
						<div class = "overviewMacroObjectiveElementWrapper">
							<div class = "overviewMacroText">Objective Measurement : Accuracy over moves</div>
							<div class = "overviewMacroObjectiveAccuracy"></div>
						</div>
						<div class = "overviewMacroObjectiveElementWrapper">
							<div class = "overviewMacroText">Objective Measurement : Duration over moves</div>
							<div class = "overviewMacroObjectiveTime"></div>
						</div>
					</div>
				</div>

			</div>
		</div>

	</div>
</div>