<div class = "dashboard">
	<div class = "sideBar">
		<p class = "appName">
			<span class = "appNameMain">GEAR</span><br>
			<span class = "appNameSub">Analytics</span>
		</p>
		<div class = "profileDiv">
			<img class = "profileImg" ng-src="{{proifleImg}}" alt="profile Img">
			<p class = "profileName">
				Dr. {{profileName}}
			</p>
			<button class = "profileSettingsButton" ng-click="selectMenu('settings')">SETTINGS</button>
		</div>
		<div class = "menuOptions">
			<div class = "optionDiv optionActive" ng-click="selectMenu('overview')">
				<img class="menuIcons" id="overviewIcon" src="img/mainIcon.png"/>
				<p class = "optionTitle">Overview</p>
			</div>
			<div class = "optionDiv" ng-click="selectMenu('patients')">
				<img class="menuIcons" id="patientsIcon" src="img/patientsIcon.png"/>
				<p class = "optionTitle">Patients</p>
			</div>
		</div>
	</div>

	<div class = "mainContainer">
		<div class = "topBar">
			<div class = "topBarTitle">
				OVERVIEW
			</div>
			<div class = "topBarLogout" ng-click="logout()">Logout</div>
		</div>

		<div class = "subViewDiv">
			Data<br>
		</div>
	</div>
</div>