<div class = "dashboard">
	<div class = "sideBar">
		<p class = "appName">
			<span class = "appNameMain">GEAR</span><br>
			<span class = "appNameSub">Analytics</span>
		</p>
		<div class = "profileDiv">
			<img class = "profileImg" ng-src="{{proifleImg}}" alt="profile Img">
			<p class = "profileName">
				Dr. {{profileName}}
			</p>
			<button class = "profileSettingsButton" ng-click="selectMenu('settings')">SETTINGS</button>
		</div>
		<div class = "menuOptions">
			<div class = "optionDiv" ng-click="selectMenu('overview')">
				<img class="menuIcons" id="overviewIcon" src="img/mainIcon.png"/>
				<p class = "optionTitle">Overview</p>
			</div>
			<div class = "optionDiv optionActive" ng-click="selectMenu('patients')">
				<img class="menuIcons" id="patientsIcon" src="img/patientsIcon.png"/>
				<p class = "optionTitle">Patients</p>
			</div>
		</div>
	</div>

	<div class = "mainContainer">
		<div class = "topBar">
			<div class = "topBarTitle">
				PATIENTS
			</div>
			<div class = "topBarLogout" ng-click="logout()">Logout</div>
		</div>

		<div class = "subViewDiv patientsSubView">
			<div class = "patientDataContainer">
				<div class = "patientData" ng-show="patientInfo">
					<div class = "patientDataHeader">About Patient</div>
					<div class = "patientDataGeneralWrapper">
						<div class = "patientDataGeneral">
							<div class = "patientDataProfile">
								<div class = "patientProfileImgDiv">
									<img class = "patientProfileImg" ng-src="{{patientInfo.patientImgId}}" />
								</div>
								<div class = "patientProfileInfo">
									<span class = "patientProfileName">{{patientInfo.firstName}} {{patientInfo.lastName}}</span><br>
									<span class = "patientProfileGender">{{patientInfo.gender}} </span><br>
									<span class = "patientProfileAge">{{patientInfo.age}} years old</span><br>
									<span class = "patientProfileHeight">{{patientInfo.height}}</span> cm<br>
									<span class = "patientProfileWeight">{{patientInfo.weight}}</span> kg<br>
								</div>
							</div>
						</div>
						<div class = "patientDataMacroStats">
							Recovery
							<div class="progress round patientProgress patientProgressDefault">
								<span class="meter progressMeter" 
									  style="width:{{patientInfo.ROMrecovery}}%"
									  ng-class = "{'highBG'    : patientInfo.ROMrecovery >= 70, 
											 		'lowBG'    : patientInfo.ROMrecovery <= 60,
											 		'mediumBG' : patientInfo.ROMrecovery > 60 && patientInfo.ROMrecovery < 70}">
								</span>
								<div class = "patientListRecoveryValue" 
									ng-class = "{'high'   : patientInfo.ROMrecovery >= 70, 
												 'low'    : patientInfo.ROMrecovery <= 60,
												 'medium' : patientInfo.ROMrecovery > 60 && patientInfo.ROMrecovery < 70}">
										{{patientInfo.ROMrecovery}}%
								</div>
							</div><br><br>

							Progress
							<div class="progress round patientProgress patientProgressDefault">
								<span class="meter progressMeter" style="width:{{patientInfo.patientPogress}}%"></span>
								<p class = "progressBarTextDefault">{{patientInfo.patientPogress}}%</p>
							</div><br>
							<p class = "patientProgressInformation">Completed {{patientInfo.sessionsCompleted}} out of {{patientInfo.totalSessions}} sessions</p>
						</div>
						<div class = "patientInjuryDetails">
							<div class = "patientInjuryDetailsTag"> INJURY </div>
							<span class = "patientInjuryName">Injury Group : {{patientInfo.injuryName}}</span><br/>
							<span class = "patientInjuryDescription">{{patientInfo.injuryDescription}}</span><br/>
							<div class = "patientAdmissionDate">{{patientInfo.registrationDate | date : 'fullDate'}}</div>
						</div>
					</div><br>

					<div class = "patientDataHeader">Overall</div><br>
					<div class = "patientDataMacroWrapper">
						<div class = "patientDataMacroAccuracyWrapper">
							<div class = "patientDataMacroAccuracyText patientDataText">Objective Measurement : Accuracy over sessions</div>
							<div class = "patientDataMacroAccuracy"></div>
						</div>
						<div class = "patientDataMacroTimeWrapper">
							<div class = "patientDataMacroTimeText patientDataText">Objective Measurement : Time taken over sessions</div>
							<div class = "patientDataMacroTime"></div>
						</div>
						<div class = "patientDataMacroFeedbackWrapper">
							<div class = "patientDataMacroFeedbackText patientDataText">Subjective Measurement : Patient Feedback</div>
							<div class = "patientDataMacroFeedback"></div>
						</div>
					</div>

					<div class = "patientDataHeader">Session</div><br>
					<div class = "dataDropDown">
						<button class = "dataDropDownButton" ng-click="showSessionsList = !showSessionsList">
							Session {{currSession}}
						</button>
						<div class = "dataDropDownContentWrapper" ng-if="showSessionsList == 1">
							<div class = "dataDropDownContent" ng-repeat="sessionIndex in dataSessions" ng-click="updateSessionData(sessionIndex)">Session {{sessionIndex}}</div>
						</div>
					</div>
					<div class = "patientDataMesoWrapper">
						<div class = "patientDataMesoAccuracyWrapper">
							<div class = "patientDataMesoAccuracyText patientDataText">Objective Measurement : Accuracy over session 1</div>
							<div class = "patientDataMesoAccuracy"></div>
						</div>
						<div class = "patientDataMesoTimeWrapper">
							<div class = "patientDataMesoTimeText patientDataText">Objective Measurement : Time taken over session 1</div>
							<div class = "patientDataMesoTime"></div>
						</div>
					</div>

					<div class = "patientDataMicroWrapper">
						<div class = "patientDataMicroMovesText patientDataText"> Moves in session 1</div>
						<div class = "patientDataMicroMovesLevelOneWrapper">
							<div class = "patientDataMicroMove_1">
								<div class = "moveHeader">{{microMoves.start.L1.moveName}}</div>
								<div class = "patientDataMicroMovewrapper">
									<div class = "patientDataMicroMove_1_start"></div>
									<div class = "patientDataMicroMove_1_end">  </div>
								</div>
								<div class = "movePlane">{{microMoves.start.L1.planeName}}</div>
							</div>
							<div class = "patientDataMicroMove_2">
								<div class = "moveHeader">{{microMoves.start.L2.moveName}}</div>
								<div class = "patientDataMicroMovewrapper">
									<div class = "patientDataMicroMove_2_start"></div>
									<div class = "patientDataMicroMove_2_end">  </div>
								</div>
								<div class = "movePlane">{{microMoves.start.L2.planeName}}</div>
							</div>
							<div class = "patientDataMicroMove_3">
								<div class = "moveHeader">{{microMoves.start.L3.moveName}}</div>
								<div class = "patientDataMicroMovewrapper">
									<div class = "patientDataMicroMove_3_start"></div>
									<div class = "patientDataMicroMove_3_end">  </div>
								</div>
								<div class = "movePlane">{{microMoves.start.L3.planeName}}</div>
							</div>
						</div>
						<div class = "patientDataMicroMovesLevelTwoWrapper">
							<div class = "patientDataMicroMove_4">
								<div class = "moveHeader">{{microMoves.start.L4.moveName}}</div>
								<div class = "patientDataMicroMovewrapper">
									<div class = "patientDataMicroMove_4_start"></div>
									<div class = "patientDataMicroMove_4_end">  </div>
								</div>
								<div class = "movePlane">{{microMoves.start.L4.planeName}}</div>
							</div>
							<div class = "patientDataMicroMove_5">
								<div class = "moveHeader">{{microMoves.start.L5.moveName}}</div>
								<div class = "patientDataMicroMovewrapper">
									<div class = "patientDataMicroMove_5_start"></div>
									<div class = "patientDataMicroMove_5_end">  </div>
								</div>
								<div class = "movePlane">{{microMoves.start.L5.planeName}}</div>
							</div>
							<div class = "patientDataMicroMove_6">
								<div class = "moveHeader">{{microMoves.start.L6.moveName}}</div>
								<div class = "patientDataMicroMovewrapper">
									<div class = "patientDataMicroMove_6_start"></div>
									<div class = "patientDataMicroMove_6_end">  </div>
								</div>
								<div class = "movePlane">{{microMoves.start.L6.planeName}}</div>
							</div>
						</div>
						<div class = "patientDataMicroMovesLevelThreeWrapper">
							<div class = "patientDataMicroMove_7">
								<div class = "moveHeader">{{microMoves.start.L7.moveName}}</div>
								<div class = "patientDataMicroMovewrapper">
									<div class = "patientDataMicroMove_7_start"></div>
									<div class = "patientDataMicroMove_7_end">  </div>
								</div>
								<div class = "movePlane">{{microMoves.start.L7.planeName}}</div>
							</div>
							<div class = "patientDataMicroMove_8">
								<div class = "moveHeader">{{microMoves.start.L8.moveName}}</div>
								<div class = "patientDataMicroMovewrapper">
									<div class = "patientDataMicroMove_8_start"></div>
									<div class = "patientDataMicroMove_8_end">  </div>
								</div>
								<div class = "movePlane">{{microMoves.start.L8.planeName}}</div>
							</div>
							<div class = "patientDataMicroMove_9">
								<div class = "moveHeader">{{microMoves.start.L9.moveName}}</div>
								<div class = "patientDataMicroMovewrapper">
									<div class = "patientDataMicroMove_9_start"></div>
									<div class = "patientDataMicroMove_9_end">  </div>
								</div>
								<div class = "movePlane">{{microMoves.start.L9.planeName}}</div>
							</div>
						</div>
					</div>
					<br>
				</div>
			</div>
			
			<div class = "patients">
				<input type="text" placeholder="search" ng-model="searchText">
				<div class = "patientResultCount"> total results : {{filteredPatients.length}} </div>
				<div class = "patientsWrapper">
					<div class = "patientsList" ng-repeat = "patient in filteredPatients = (patients | filter:searchText)" ng-click="viewPatientPerformance(patient.patientId, patient.injuryId)">
						<div class = "patientsListImgDiv">
							<img class = "patientsListImg" ng-src="{{patient.patientImgId}}" />
							<div class = "patientListRecoveryRange">
								<div class = "patientRecoveryRangeText high" ng-if="patient.ROMrecovery >= 70">{{patient.recoveryRange}}</div>
								<div class = "patientRecoveryRangeText low" ng-if="patient.ROMrecovery <= 60">{{patient.recoveryRange}}</div>
								<div class = "patientRecoveryRangeText medium" ng-if="patient.ROMrecovery > 60 && patient.ROMrecovery < 70">{{patient.recoveryRange}}</div>
							</div>
						</div>
						<div class = "patientsListDetail"> 
							<div class = "patientListName">{{patient.firstName}} {{patient.lastName}}</div>
							<div class = "patientListGroup">{{patient.injuryName}}</div>
							<div class = "patientRecovery">
								<div class = "progress round patientProgress">
									<span class="meter progressMeter" 
										  style="width:{{patient.ROMrecovery}}%"
										  ng-class = "{'highBG'    : patient.ROMrecovery >= 70, 
												 		'lowBG'    : patient.ROMrecovery <= 60,
												 		'mediumBG' : patient.ROMrecovery > 60 && patient.ROMrecovery < 70}">
									</span>
								</div>
								<div class = "patientListRecoveryValue" 
									ng-class = "{'high'   : patient.ROMrecovery >= 70, 
												 'low'    : patient.ROMrecovery <= 60,
												 'medium' : patient.ROMrecovery > 60 && patient.ROMrecovery < 70}">
										{{patient.ROMrecovery}}%
								</div>
							</div>
						</div>
					</div>
				</div>	
			</div>

			<div class = "patientsFeedbackButtonDiv" ng-click = "showDoctorFeedback()" ng-show="showFeedback == 0 && patientInfo">
				Feedback
			</div>

			<div class = "patientsFeedbackDiv" ng-show="showFeedback == 1">
				<div class = "patientsFeedbackTop">
					<div class = "patientsFeedbackTopButton" ng-click="showFeedback = 0">_</div>
				</div>
				<div class = "patientsFeedbackList">
					<div class = "patientFeedbackMsgWrapper" ng-repeat="prevfeedback in feedbacks">
						<div class = "patientFeedbackMsg">
							{{prevfeedback.message}}
						</div>
						<div class = "patientFeedbackMsgTime">
							{{prevfeedback.date}}
						</div>
					</div>
				</div>
				<div class = "patientFeedbackInput">
					<textarea class = "patientFeedbackInputBox" placeholder="Feedback" ng-model="feedback"></textarea>
				</div>
				<div class = "patientFeedbackPostBtnWrapper" ng-click="postDoctorFeedback(feedback)">
					<div class = "patientFeedbackPostBtn">
						Post
					</div>
				</div>
			</div>
		</div>
	</div>
</div>