<div class = "container">
	<div class="websiteHeader">
		<span class = "applicationName">GEAR</span><span class = "platformname">ANALYTICS</span>
		<span class = "logout-button-span"><a class = "button-logout" ng-click="logout()">Logout</a></span>
	</div>
	<table class="containerTable">
		<td class="containerColumn" id = "sideSelectionDiv">
			<div class="sideSelectionOverviewDiv">
				<div class = "menuIconsDiv" 			 ng-click="selectMenu('overview')"> <img class="menuIcons" id="overviewIcon" src="img/mainIcon.png"/>     overview </div>
				<div class = "menuIconsDiv" 			 ng-click="selectMenu('patients')"> <img class="menuIcons" id="patientsIcon" src="img/patientsIcon.png"/> patients </div>
				<div class = "menuIconsDiv selectedIcon" ng-click="selectMenu('settings')"> <img class="menuIcons" id="settingsIcon" src="img/settingsIcon.png"/> settings <div class="arrow-right"></div></div>
			</div>
		</td>
		<td class="containerColumn" id = "patientsOverviewDiv">
			<div class = "templateHeader">Settings</div>
			<div class = "summaryHeader"> Profile </div>
		</td>
	</table>

	<div class="footer">&copy; National University Of Singapore</div>
</div>